<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsitc.domain.common.code.dao.GroupCodeDAO">
  <select id="selectAll"
    resultType="com.lsitc.domain.common.code.entity.GroupCodeEntity">
    SELECT id
         , code
         , name
         , is_used
         , remark
         , created_by
         , created_date
         , last_modified_by
         , last_modified_date
    FROM sf_group_code
  </select>
</mapper>