<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="core.auth">
    <select id="selectMenuAuth" resultType="com.lsitc.global.common.CamelHashMap">
    /* 공통그룹코드 조회 */
    SELECT /* 권한이 있는 메뉴 목록 */
		   D.MENU_ID /* 메뉴ID */
	     , D.MENU_NM /* 메뉴명 */
	     , D.UP_MENU_ID /* 상위메뉴ID */
	     , E.URL /* URL */
	     , GROUP_CONCAT(DISTINCT C.AUTH_CD ORDER BY C.AUTH_CD) AS AUTH_CD /* 권한 */
	  FROM COMM_ROLE_USER A /* 역할별사용자 */
	 INNER JOIN COMM_MENU_ROLE B ON ( A.ROLE_ID  = B.ROLE_ID ) /* 역할별메뉴 */
 	  LEFT OUTER JOIN COMM_MENU_ROLE_AUTH C ON ( B.ROLE_ID = C.ROLE_ID AND B.MENU_ID = C.MENU_ID ) /* 역할별 권한 */ 
	 INNER JOIN COMM_MENU D ON ( B.MENU_ID = D.MENU_ID ) /* 메뉴 */
	  LEFT OUTER JOIN COMM_PRGM E ON ( D.PRGM_ID = E.PRGM_ID ) /* 프로그램 */
	 WHERE 1=1
	   /* essential */
	   AND A.USER_NO = #{session.userNo} /* USER_NO */
	   AND D.MENU_ID = #{menuId}	   
	   AND D.COM_ID = #{session.comId}
	   AND SYSDATE() BETWEEN A.APLY_START_DT AND A.APLY_END_DT /* 현재 유효한것만 */
	   AND D.USE_FG = 'Y' /* 메뉴-사용여부 Y인것만 */
	 GROUP  
	    BY D.MENU_ID, D.MENU_NM, D.UP_MENU_ID, E.URL -- , C.AUTH_CD /* 중복제거.. */
	 ORDER 
	    BY D.SORT_SEQ 
    </select>
    
    <select id="selectAuthMenuBreadcrumb" resultType="com.lsitc.global.common.CamelHashMap">
    /* 화면 권한 및 breadcrumb 조회 */
    WITH W_AUTH_MENU AS (
		SELECT /* 권한이 있는 메뉴 목록 */
			   D.MENU_ID /* 메뉴ID */
		     , D.MENU_NM /* 메뉴명 */
		     , D.UP_MENU_ID /* 상위메뉴ID */
		     , D.SORT_SEQ /* 정렬순서 */
		     , E.URL /* URL */
		     , GROUP_CONCAT(DISTINCT C.AUTH_CD ORDER BY C.AUTH_CD) AS AUTH_CD /* 권한 */
		  FROM COMM_ROLE_USER A /* 역할별사용자 */
		 INNER JOIN COMM_MENU_ROLE B ON ( A.ROLE_ID  = B.ROLE_ID ) /* 역할별메뉴 */
		  LEFT OUTER JOIN COMM_MENU_ROLE_AUTH C ON ( B.ROLE_ID = C.ROLE_ID AND B.MENU_ID = C.MENU_ID ) /* 역할별 권한 */ 
		 INNER JOIN COMM_MENU D ON ( B.MENU_ID = D.MENU_ID ) /* 메뉴 */
		  LEFT OUTER JOIN COMM_PRGM E ON ( D.PRGM_ID = E.PRGM_ID ) /* 프로그램 */
		 WHERE 1=1
		   /* essential */
		   AND A.USER_NO = #{session.userNo} /* USER_No */
		   AND D.MENU_ID = #{menuId}	   
		   AND D.COM_ID = #{session.comId}
		   AND SYSDATE() BETWEEN A.APLY_START_DT AND A.APLY_END_DT /* 현재 유효한것만 */
		   AND D.USE_FG = 'Y' /* 메뉴-사용여부 Y인것만 */
		 GROUP  
		    BY D.MENU_ID, D.MENU_NM, D.UP_MENU_ID, E.URL /* 중복제거.. */
	), W_AUTH_MENU_TREE AS (
		WITH RECURSIVE W_CTE AS (
			SELECT MENU_ID /* 메뉴ID */
			     , MENU_NM /* 메뉴명 */
			     , UP_MENU_ID /* 상위메뉴ID */
			     , URL /* URL */
			     , AUTH_CD /* 권한 */
			     , 0 AS LVL
			  FROM W_AUTH_MENU 
	
			 UNION ALL
			 
			SELECT A.MENU_ID /* 메뉴ID */
			     , A.MENU_NM /* 메뉴명 */
			     , A.UP_MENU_ID /* 상위메뉴ID */
			     , B.URL /* URL */
			     , C.AUTH_CD /* 권한 */
			     , C.LVL + 1 AS LVL
			  FROM COMM_MENU A
			 LEFT OUTER JOIN COMM_PRGM B ON A.PRGM_ID = B.PRGM_ID
			 INNER JOIN W_CTE C ON A.MENU_ID = C.UP_MENU_ID
		)	
		SELECT *
		  FROM W_CTE
	 	 WHERE MENU_ID <![CDATA[<>]]> '0'
	)
	SELECT MENU_ID /* 메뉴ID */
	     , MENU_NM /* 메뉴명 */
	     , UP_MENU_ID /* 상위메뉴ID */
	     , URL /* URL */
	     , AUTH_CD /* 권한 */
	  FROM W_AUTH_MENU_TREE
	 ORDER
	    BY LVL DESC
    </select>
</mapper>