<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="core.uploadFile">
    <select id="selectUploadFile" resultType="com.lsitc.core.share.vo.FileVo">
   	SELECT A.APND_FILE_UUID
  	      ,B.APND_FILE_ID
  	      ,B.APND_FILE_NM
  	      ,B.APND_FILE_EXT
	 	  ,B.APND_FILE_SIZE
		  ,B.APND_FILE_PATH
		  ,B.USE_FG
		  ,B.SORT_SEQ  
   	  FROM COMM_APND_FILE_GRP A
   	  LEFT OUTER JOIN COMM_APND_FILE B ON A.APND_FILE_UUID = B.APND_FILE_UUID   	  
   	 WHERE 1=1
   	   AND A.APND_FILE_UUID = #{apndFileUuid}
   	   <if test="apndFileId != null and apndFileId != ''">
   	   AND B.APND_FILE_ID = #{apndFileId}  
   	   </if>
   	 ORDER 
   	    BY B.SORT_SEQ
    </select>
    
    <select id="selectApndFileGrp01" resultType="com.lsitc.core.share.vo.ApndFileGrpVo">
   	SELECT APND_FILE_UUID
		  ,MENU_ID
		  ,USE_TABLE_NM
		  ,USE_FG
		  ,RMRK
   	  FROM COMM_APND_FILE_GRP
   	 WHERE 1=1
   	   AND APND_FILE_UUID = #{apndFileUuid}
    </select>
    
    <select id="selectApndFile01" resultType="com.lsitc.core.share.vo.ApndFileVo">
   	SELECT APND_FILE_UUID
		  ,APND_FILE_ID
		  ,APND_FILE_NM
		  ,APND_FILE_EXT
		  ,APND_FILE_SIZE
		  ,APND_FILE_PATH
		  ,USE_FG
		  ,SORT_SEQ
		  ,RMRK
   	  FROM COMM_APND_FILE   	  
   	 WHERE 1=1
   	   AND APND_FILE_UUID = #{apndFileUuid}
   	   AND APND_FILE_ID = #{apndFileId}
   	 ORDER 
   	    BY SORT_SEQ
    </select>
    
    <select id="selectApndFile02" resultType="com.lsitc.core.share.vo.ApndFileVo">
    /* core.uploadFile.selectApndFile02 xx하는 쿼리  */
   	SELECT APND_FILE_UUID
		  ,APND_FILE_ID
		  ,APND_FILE_NM
		  ,APND_FILE_EXT
		  ,APND_FILE_SIZE
		  ,APND_FILE_PATH
		  ,USE_FG
		  ,SORT_SEQ
		  ,RMRK
   	  FROM COMM_APND_FILE   	  
   	 WHERE 1=1
   	   AND APND_FILE_UUID = #{apndFileUuid}
   	 ORDER 
   	    BY SORT_SEQ
    </select>
    
    <select id="selectUploadFilePop" resultType="com.lsitc.core.base.CamelHashMap">
   	SELECT A.APND_FILE_UUID
  	      ,B.APND_FILE_ID
  	      ,CONCAT(B.APND_FILE_NM, '.', B.APND_FILE_EXT) AS APND_FILE_NM
	 	  ,B.APND_FILE_SIZE
		  ,B.SORT_SEQ
   	  FROM COMM_APND_FILE_GRP A
   	  LEFT OUTER JOIN COMM_APND_FILE B ON A.APND_FILE_UUID = B.APND_FILE_UUID   	  
   	 WHERE 1=1
   	 ORDER 
   	    BY B.SORT_SEQ 
    </select>
    
    <insert id="insertUploadFileGrp">
    INSERT
      INTO COMM_APND_FILE_GRP 
	(
		 APND_FILE_UUID
		,MENU_ID
		,USE_TABLE_NM
		,USE_FG
		,RMRK
		,REG_USER_NO
		,REG_DTTM
		,PROC_USER_NO
		,PROC_DTTM
	)
    VALUES 
    (
		 #{apndFileUuid}
		,#{menuId}
		,#{useTableNm}
		,#{useFg}
		,#{rmrk}
		,#{session.userNo}
		,sysdate()
		,#{session.userNo}
		,sysdate()
	)
    </insert>
    
    <update id="updateUploadFileGrp">
    UPDATE COMM_APND_FILE_GRP
       SET MENU_ID = #{menuId}
		  ,USE_TABLE_NM = #{useTableNm}
		  ,USE_FG = #{useFg}
		  ,RMRK = #{rmrk}
		  ,PROC_USER_NO = #{session.userNo}
		  ,PROC_DTTM = sysdate()
     WHERE 1=1
       AND APND_FILE_UUID = #{apndFileUuid}
    </update>
    
    <update id="updateUploadFileGrp02">
    UPDATE COMM_APND_FILE_GRP
       SET USE_TABLE_NM = #{useTableNm}
		  ,USE_FG = #{useFg}
		  ,PROC_USER_NO = #{session.userNo}
		  ,PROC_DTTM = sysdate()
     WHERE 1=1
       AND APND_FILE_UUID = #{apndFileUuid}
    </update>
    
    
    <delete id="deleteUploadFileGrp">
    DELETE
      FROM COMM_APND_FILE_GRP
     WHERE 1=1
       AND APND_FILE_UUID = #{apndFileUuid}
    </delete>
    
    <insert id="insertUploadFile">
    INSERT
      INTO COMM_APND_FILE
	(
		 APND_FILE_UUID
		,APND_FILE_ID
		,APND_FILE_NM
		,APND_FILE_EXT
		,APND_FILE_SIZE
		,APND_FILE_PATH
		,USE_FG
		,SORT_SEQ
		,RMRK
		,REG_USER_NO
		,REG_DTTM
		,PROC_USER_NO
		,PROC_DTTM
  		
	)      
    VALUES
    (
		 #{apndFileUuid}
		,#{apndFileId}
		,#{apndFileNm}
		,#{apndFileExt}
		,#{apndFileSize}
		,#{apndFilePath}
		,#{useFg}
		,#{sortSeq}
		,#{rmrk}
		,#{session.userNo}
		,sysdate()
		,#{session.userNo}
		,sysdate()
    ) 
    </insert>
    
    <update id="updateUploadFile">
    UPDATE COMM_APND_FILE
       SET  APND_FILE_PATH = #{apndFilePath}
		   ,PROC_USER_NO = #{procUserNo}
		   ,PROC_DTTM = sysdate()
     WHERE 1=1
       AND APND_FILE_UUID = #{apndFileUuid}
	   AND APND_FILE_ID = #{apndFileId}
    </update>

    <delete id="deleteUploadFile">
    DELETE 
      FROM COMM_APND_FILE
     WHERE 1=1
       AND APND_FILE_UUID = #{apndFileUuid}
	   AND APND_FILE_ID = #{apndFileId}
    </delete>
    
</mapper> 