#공통적용 내용으로 반드시 채워주셔야 합니다.
spring:
  #log색상지정
  output:
    ansi:
      enabled: always
  #servlet 설정
  servlet:
    multipart:
      enabled: true
      max-file-size: 20MB
      max-request-size: 100MB
  datasource:
    driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
  profiles:
    #프로파일(local:개발자 환경, dev:개발서버, prod:운영 택1, 향후 runtime argument로 넘어갈 예정)
    active: local
  jackson:
    deserialization:
      accept-single-value-as-array: true

#로깅관련
logging:
  level:
    root: DEBUG
  logback:
    rollingpolicy:
      max-file-size: 100MB
      max-history: 30
  file:
    path: logs
    name: app

server:
  #port설정
  port: 8080
  error:
    #에러표시여부
    include-exception: false
    #handler path
    path: /error
    # 기본처리사용여부
    whitelabel:
      enabled: false
  servlet:
    encoding:
      charset: UTF-8
      force: true
    session:
      cookie:
        http-only: true

restTemplate:
  factory:
    connectTimeout: 3000
    readTimeout: 5000
  httpClient:
    maxConnPerRoute: 5
    maxConnTotal: 100

#mybatis
mybatis:
  configuration:
    default-executor-type: reuse
    lazy-loading-enabled: true
    map-underscore-to-camel-case: true
    use-generated-keys: true
  mapper-locations:
    - classpath*:mappers/**/*.xml
  type-aliases-package: com.lsitc.global.common

#이하 해당 프로젝트에서 profile별로 필요한 정보를 세팅한다.(default와 중복될 경우 override)
#DB외 SPRING과 관련된 직접적인 셋팅은 자제하고, 이 외 필요한 것들만 선언해서 사용한다. (t)
---
spring:
  config:
    activate:
      on-profile: local
  gatewayUrl: http://localhost:9999
  datasource:
    hikari:
      minimum-idle: 1
      maximum-pool-size: 3
      idle-timeout: 600000 #(10분)
      max-lifetime: 1800000 #(30분)
      connection-timeout: 15000

#서버포트 설정
server:
  error:
    #stactrcae포함
    include-stacktrace: always

---
spring:
  config:
    activate:
      on-profile: dev
  gatewayUrl: http://localhost:9999
  datasource:
    hikari:
      minimum-idle: 1
      maximum-pool-size: 3
      idle-timeout: 600000 #(10분)
      max-lifetime: 1800000 #(30분)
      connection-timeout: 15000

#서버포트 설정
server:
  error:
    #stactrcae포함
    include-stacktrace: always

---
spring:
  config:
    activate:
      on-profile: prod
  gatewayUrl: http://localhost:9999
  datasource:
    hikari:
      minimum-idle: 5
      maximum-pool-size: 10
      idle-timeout: 600000 #(10분)
      max-lifetime: 1800000 #(30분)
      connection-timeout: 15000

#서버포트 설정
server:
  error:
    #stactrcae포함
    include-stacktrace: never
