<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="comm.auth.roleMng">
    <insert id="insertRole">
    /* comm.roleMng.insertRole : 역할 등록 */
    <selectKey keyProperty="roleId" resultType="java.lang.String" order="BEFORE">
        SELECT /* 프로그램ID 채번 */
               CONCAT('ROL', LPAD(NEXT VALUE FOR SEQ_COMM_ROLE, 4,'0'))
    </selectKey>
        INSERT INTO COMM_ROLE
               (
                COM_ID
               ,ROLE_ID
               ,ROLE_NM
               ,USE_FG
               ,RMRK
               ,REG_USER_NO
               ,REG_DTTM
               ,PROC_USER_NO
               ,PROC_DTTM
               )
        VALUES (
                #{session.comId}
               ,#{roleId}
               ,#{roleNm}
               ,#{useFg}
               ,#{rmrk}
               ,#{session.userNo}
               ,NOW()
               ,#{session.userNo}
               ,NOW()
               )
    </insert>

    <update id="updateRole">
    /* comm.roleMng.updateRole : 역할 수정 */
        UPDATE COMM_ROLE
           <trim prefix="SET" prefixOverrides=",">
               <if test="roleNm != null and roleNm != ''">
               ,ROLE_NM = #{roleNm}
               </if>
               <if test="useFg != null and useFg != ''">
               ,USE_FG = #{useFg}
               </if>
               <if test="rmrk != null">
               ,RMRK = #{rmrk}
               </if>
               ,PROC_USER_NO = #{session.userNo}
               ,PROC_DTTM = NOW()
           </trim>
         WHERE 1=1
           AND COM_ID = #{session.comId} 
           AND ROLE_ID = #{roleId} 
    </update>
    
    <delete id="deleteRole">
    /* comm.roleMng.deleteRole : 역할 삭제 */
        DELETE
          FROM COMM_ROLE
         WHERE 1=1
           AND COM_ID = #{session.comId} 
           AND ROLE_ID = #{roleId} 
    </delete>
    
    <select id="selectRole" resultType="com.lsitc.fems.comm.auth.vo.RoleVo">
    /* comm.roleMng.selectRole : 역할 조회 */
        SELECT 
               COM_ID
              ,ROLE_ID
              ,ROLE_NM
              ,USE_FG
              ,RMRK
              ,REG_USER_NO
              ,REG_DTTM
              ,PROC_USER_NO
              ,PROC_DTTM
          FROM COMM_ROLE
         WHERE 1=1 
           AND COM_ID = #{session.comId}
           <if test="roleId != null and roleId != ''">
           AND ROLE_ID LIKE CONCAT('%', #{roleId}, '%') 
           </if>
           <if test="roleNm != null and roleNm != ''">
           AND ROLE_NM LIKE CONCAT('%', #{roleNm}, '%')
           </if>
           <if test="useFg != null and useFg != ''">
           AND USE_FG = #{useFg}
           </if>
    </select>
</mapper>