<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="comm.base.apndFile">
    	<select id="selectApndFile" resultType="camelHashMap">
		/* comm.apndFile.selectApndFile : 파일 정보 조회 */
		SELECT
			AA.APND_FILE_UUID,
			AA.APND_FILE_ID,
			AA.APND_FILE_NM,
			AA.APND_FILE_EXT,
			AA.APND_FILE_SIZE,
			AA.APND_FILE_PATH,
			AA.USE_FG,
			AA.SORT_SEQ,
			AA.RMRK,
			AA.REG_USER_NO,
			AA.REG_DTTM,
			AA.PROC_USER_NO,
			AA.PROC_DTTM
		FROM comm_apnd_file AA
			INNER JOIN comm_apnd_file_grp BB
			ON AA.APND_FILE_UUID = BB.APND_FILE_UUID
		WHERE
			1=1
			<if test=" apndFileUuid != null ">
			AND BB.APND_FILE_UUID = #{apndFileUuid}
			</if>
			<if test=" apndFileId != null ">
			AND AA.APND_FILE_ID = #{apndFileId}
			</if>
			AND AA.USE_FG = '1'
	</select>

	<update id="deleteApndFile">
		UPDATE
			comm_apnd_file
		SET
			USE_FG = '0'
		WHERE 
			APND_FILE_ID = #{apndFileId}
	</update>
	
	<insert id="insertApndFileGrp">
		/* comm.apndFile.insertApndFileGrp : apndFileGrp 삽입 */
		INSERT INTO comm_apnd_file_grp  (
		   APND_FILE_UUID
	<!-- 	   , MENU_ID -->
	<!-- 	   , USE_TABLE_NM  -->
		   , USE_FG
	<!-- 	   , RMRK -->
		   , REG_USER_NO
		   , REG_DTTM
		   , PROC_USER_NO
		   , PROC_DTTM
		)
		VALUES(
		   #{apndFileUuid}, 
	<!-- 	   #{menuId},  -->
	<!-- 	   #{useTableNm}, -->
		   '1', 
	<!-- 	   #{useFg},  -->
	<!-- 	   #{rmrk},  -->
		   #{session.userNo}, 
		   NOW(), 
		   #{session.userNo}, 
		   NOW()
		);
	</insert>
	
	<insert id="insertApndFile">
		/* comm.apndFile.insertApndFile : apndFile 삽입 */
		INSERT INTO comm_apnd_file (
		   APND_FILE_UUID
		   , APND_FILE_ID
		   , APND_FILE_NM
	<!-- 	   /* 파일 확장자는 FILE_NM에 한꺼번에 저장 */ -->
		   , APND_FILE_EXT
		   , APND_FILE_SIZE
		   , APND_FILE_PATH
		   , USE_FG
	<!-- 	   , SORT_SEQ -->
	<!-- 	   , RMRK -->
		   , REG_USER_NO
		   , REG_DTTM
		   , PROC_USER_NO
		   , PROC_DTTM
		)
		VALUES(
		   #{apndFileUuid}, 
		   #{apndFileId}, 
		   #{apndFileNm}, 
		   #{apndFileExt}, 
		   #{apndFileSize}, 
		   #{apndFilePath},
		   '1', 
	<!-- 	   #{useFg},  -->
	<!-- 	   #{sortSeq},  -->
	<!-- 	   #{rmrk}, -->
		   #{session.userNo}, 
		   NOW(), 
		   #{session.userNo}, 
		   NOW()
		);		
	</insert>
	
	    
    <delete id="deleteCommApndFileGrp">
    /* comm.ConstructionWorkList.deleteCommApndFileGrp : 게시물 마다의 첨부파일 삭제 */
    DELETE
    	FROM comm_apnd_file_grp 
    WHERE 
    	APND_FILE_UUID = #{apndFileUuid}
    </delete>
    
    <delete id="deleteCommApndFile">
    /* comm.ConstructionWorkList.deleteCommApndFile : 게시물의 각각의 첨부파일 삭제 */
    DELETE
    	FROM comm_apnd_file 
    WHERE
    	APND_FILE_UUID = #{apndFileUuid}
    	<if test="apndFileId != null and apndFileId != '' ">
    		AND APND_FILE_ID = #{apndFileId}
    	</if>
    </delete>
	
</mapper>