<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="comm.base.batchLog">

	<insert id="insertBatchLog">
		/* comm.batchLog.insertBatchLog : 배치 수행 로그 등록 */
		INSERT INTO COMM_BATCH_LOG
		(
		BATCH_LOG_SEQ
		,BATCH_ID
		,EXEC_DT
		,EXEC_RSLT_CD
		,EXEC_LOG_CONT_1
		,EXEC_LOG_CONT_2
		,BATCH_STRT_DTTM
		,BATCH_END_DTTM
		,REG_USER_NO
		,REG_DTTM
		,PROC_USER_NO
		,PROC_DTTM
		)
		VALUES (
		#{batchLogSeq}
		,#{batchId}
		,#{execDt}
		,#{execRsltCd}
		,#{execLogCont1}
		,#{execLogCont2}
		,#{batchStrtDttm}
		,#{batchEndDttm}
		,#{session.userNo}
		,SYSDATE()
		,#{session.userNo}
		,SYSDATE()
		)
	</insert>

	<update id="updateBatchLog">
		/* comm.batchLog.updateBatchLog : 배치 수행 로그 수정 */
		UPDATE COMM_BATCH_LOG
		<trim prefix="SET" prefixOverrides=",">
			<if test="batchId != null and batchId != ''">
				,BATCH_ID = #{batchId}
			</if>
			<if test="execDt != null and execDt != ''">
				,EXEC_DT = #{execDt}
			</if>
			<if test="execRsltCd != null and execRsltCd != ''">
				,EXEC_RSLT_CD = #{execRsltCd}
			</if>
			<if test="execLogCont1 != null and execLogCont1 != ''">
				,EXEC_LOG_CONT_1 = #{execLogCont1}
			</if>
			<if test="execLogCont2 != null and execLogCont2 != ''">
				,EXEC_LOG_CONT_2 = #{execLogCont2}
			</if>
			<if test="batchStrtDttm != null and batchStrtDttm != ''">
				,BATCH_STRT_DTTM = #{batchStrtDttm}
			</if>
			<if test="batchEndDttm != null and batchEndDttm != ''">
				,BATCH_END_DTTM = #{batchEndDttm}
			</if>
			,PROC_USER_No = #{session.userNo}
			,PROC_DTTM = SYSDATE()
		</trim>
		WHERE 1=1
		AND BATCH_LOG_SEQ = #{batchLogSeq}
	</update>

	<delete id="deleteBatchLog">
		/* comm.batchLog.deleteBatchLog : 배치 수행 로그 삭제 */
		DELETE
		FROM COMM_BATCH_LOG
		WHERE 1=1
		AND BATCH_LOG_SEQ = #{batchLogSeq}
	</delete>

	<select id="selectBatchLog" resultType="camelHashMap">
		/* comm.batchLog.selectBatchLog : 배치 수행 로그 조회 */
		SELECT * FROM
			(
			SELECT
			BATCH_LOG_SEQ
			,BATCH_ID
			,(
			SELECT MAX(CBM.BATCH_NM)
			FROM COMM_BATCH_MGNT CBM
			WHERE
			CBM.BATCH_ID = CBL.BATCH_ID
			) AS BATCH_NM
			,EXEC_DT
			,EXEC_RSLT_CD
			,EXEC_LOG_CONT_1
			,EXEC_LOG_CONT_2
			,CONCAT(ifnull(EXEC_LOG_CONT_1, ''), ifnull(EXEC_LOG_CONT_2, '')) as EXEC_LOG_CONT
			,BATCH_STRT_DTTM
			,BATCH_END_DTTM
			,REG_USER_NO
			,REG_DTTM
			,PROC_USER_NO
			,PROC_DTTM
			FROM COMM_BATCH_LOG CBL
		) T
		WHERE 1=1
		<if test="batchLogSeq != null and batchLogSeq != ''">
			AND BATCH_LOG_SEQ = #{batchLogSeq}
		</if>
		<if test="batchId != null and batchId != ''">
			AND BATCH_ID = #{batchId}
		</if>
		<if test="batchNm != null and batchNm != ''">
			AND BATCH_NM like CONCAT('%', #{batchNm},'%')
		</if>
		<if test="execDt != null and execDt != ''">
			AND EXEC_DT = #{execDt}
		</if>
		<if test="execRsltCd != null and execRsltCd != ''">
			AND EXEC_RSLT_CD = #{execRsltCd}
		</if>
		<if test="execLogCont1 != null and execLogCont1 != ''">
			AND EXEC_LOG_CONT_1 = #{execLogCont1}
		</if>
		<if test="execLogCont2 != null and execLogCont2 != ''">
			AND EXEC_LOG_CONT_2 = #{execLogCont2}
		</if>
		<if test="batchStrtDttm != null and batchStrtDttm != ''">
			AND BATCH_STRT_DTTM = #{batchStrtDttm}
		</if>
		<if test="batchEndDttm != null and batchEndDttm != ''">
			AND BATCH_END_DTTM = #{batchEndDttm}
		</if>				
		AND EXEC_DT
		BETWEEN STR_TO_DATE(CONCAT(#{fromDt},'000000'), '%Y%m%d%H%i%s') AND STR_TO_DATE(CONCAT(#{fromDt},'235959'), '%Y%m%d%H%i%s')
		ORDER BY EXEC_DT DESC, BATCH_STRT_DTTM DESC
	</select>

	<select id="getBatchLogSeq" resultType="int">
		SELECT
		NEXTVAL(SEQ_COMM_BATCH_LOG_01)
		FROM DUAL
	</select>

</mapper>
