<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="comm.base.calendarMng">
    <update id="updateComId">
    /* comm.calendarMng.updateWorkcald : 근무달력 수정 */
        UPDATE COMM_WORKCALD
           <trim prefix="SET" prefixOverrides=",">
              <if test="scheFg != null and scheFg != ''">
			  ,SCHE_FG = #{scheFg} -- 제거고려..
			  </if>
			  ,HLDY_FG = #{hldyFg}
              <if test="dow != null and dow != ''">
			  ,DOW = #{dow}
			  </if>
              <if test="weekCt != null and weekCt != ''">
			  ,WEEK_CT = #{weekCt}
			  </if>
			  ,HLDY_NM = #{hldyNm}
              <if test="rmrk != null and rmrk != ''">
			  ,RMRK = #{rmrk}
			  </if>
              ,PROC_USER_NO = #{session.userNo}
              ,PROC_DTTM = NOW()
           </trim>
         WHERE 1=1
           AND COM_ID = #{session.comId}
           AND BLOC_ID = #{blocId}
           AND DATE_FORMAT(DT,'%Y%m%d') = DATE_FORMAT(#{dt},'%Y%m%d')
    </update>
    
    <select id="selectWorkCald" resultType="com.lsitc.domain.base.vo.WorkCaldVo">
    /* comm.calendarMng.selectWorkCald : 근무달력 조회 */
        SELECT COM_ID
	          ,BLOC_ID 
	          ,SCHE_FG
	          ,DT 
	          ,HLDY_FG 
	          ,DOW 
	          ,WEEK_CT 
	          ,HLDY_NM 
	          ,RMRK
	      FROM COMM_WORKCALD
	     WHERE 1=1
	       -- essential
	       AND COM_ID = #{session.comId}
	       AND BLOC_ID = #{blocId}
	       AND DT BETWEEN CONCAT(substr(#{yymm}, 1,4), '-', substr(#{yymm}, 5,2), '-01') AND LAST_DAY(CONCAT(substr(#{yymm}, 1,4), '-', substr(#{yymm}, 5,2), '-01'))
    </select>
    
    
    <select id="selectWorkcaldAll" resultType="com.lsitc.domain.base.vo.WorkCaldVo">
    /* comm.calendarMng.selectWorkcald : 특정 기간 및 월에 대한 휴일 목록 조회 */
    	SELECT 
               COM_ID
              ,BLOC_ID
              ,DT
              ,SCHE_FG
              ,HLDY_FG
              ,DOW
              ,WEEK_CT
              ,HLDY_NM
              ,RMRK
              ,REG_USER_NO
              ,REG_DTTM
              ,PROC_USER_NO
              ,PROC_DTTM
          FROM COMM_WORKCALD
         WHERE 1=1 
           AND COM_ID = #{session.comId}
           <if test="blocId != null and blocId != ''">
           AND BLOC_ID = #{blocId}
           </if>
           <if test="dt != null and dt != ''">
           AND DT = #{dt}
           </if>
           <if test="dtLike != null and dtLike != ''">
           AND DT LIKE #{dtLike} + '%'
           </if>
           <if test="startDt != null and startDt != '' and endDt != null and endDt != ''">
           AND DT BETWEEN #{startDt} AND #{endDt}
           </if>
           <if test="scheFg != null and scheFg != ''">
           AND SCHE_FG = #{scheFg}
           </if>
           <if test="hldyFg != null and hldyFg != ''">
           AND HLDY_FG = #{hldyFg}
           </if>
           <if test="dow != null and dow != ''">
           AND DOW = #{dow}
           </if>
           <if test="weekCt != null and weekCt != ''">
           AND WEEK_CT = #{weekCt}
           </if>
           <if test="hldyNm != null and hldyNm != ''">
           AND HLDY_NM = #{hldyNm}
           </if>
           <if test="hldyNmNotInList !=null and hldyNmNotInList.size != 0"> 
           AND HLDY_NM NOT IN
           <foreach collection="hldyNmNotInList" item="code" index="index" separator="," open="(" close=")">
		            #{code}
		   </foreach>
		   </if>
           <if test="rmrk != null and rmrk != ''">
           AND RMRK = #{rmrk}
           </if>
           <if test="regUserNo != null and regUserNo != ''">
           AND REG_USER_NO = #{regUserNo}
           </if>
           <if test="regDttm != null and regDttm != ''">
           AND REG_DTTM = #{regDttm}
           </if>
           <if test="procUserNo != null and procUserNo != ''">
           AND PROC_USER_NO = #{procUserNo}
           </if>
           <if test="procDttm != null and procDttm != ''">
           AND PROC_DTTM = #{procDttm}
           </if>
    </select>
    
    <select id="selectWorkCaldDetl" resultType="com.lsitc.domain.base.vo.WorkCaldVo">
    /* comm.calendarMng.selectWorkCaldDetl : 근무달력 일정 조회 */
			      SELECT C.COM_ID
			      ,C.BLOC_ID 
			      ,C.SCHE_FG
			      ,C.DT 
			      ,C.HLDY_FG 
			      ,C.DOW 
			      ,C.WEEK_CT 
			      ,C.HLDY_NM 
			      ,C.RMRK
			      ,B.STRT_DT
			      ,B.END_DT
			      ,PLAN_SEQ
			      ,B.PLAN_TITLE
			      ,B.PLAN_COLOR 
	        FROM COMM_WORKCALD C
	        LEFT JOIN COMM_WORKCALD_DETL B ON C.COM_ID = B.COM_ID AND C.BLOC_ID = B.BLOC_ID AND C.DT BETWEEN B.STRT_DT AND B.END_DT
	      WHERE 1=1
	      	AND C.COM_ID = #{session.comId}
			AND C.BLOC_ID = #{blocId}
			AND C.DT BETWEEN CONCAT(substr(#{yymm}, 1,4), '-', substr(#{yymm}, 5,2), '-01') AND LAST_DAY(CONCAT(substr(#{yymm}, 1,4), '-', substr(#{yymm}, 5,2), '-01'))
	      ORDER BY C.DT, B.PLAN_SEQ
    </select>
    
    <select id="selectWorkCaldDetlOne" resultType="com.lsitc.domain.base.vo.WorkCaldVo">
    		SELECT 
			      C.COM_ID
				,C.BLOC_ID
				,C.PLAN_SEQ
				,C.STRT_DT
				,C.STRT_HH
				,C.STRT_MM
				,C.END_DT
				,C.END_HH
				,C.END_MM
				,C.PLAN_TITLE
				,C.PLAN_CNTN
				,C.PLAN_COLOR
				,C.REG_USER_NO
				,C.REG_DTTM
				,C.PROC_USER_NO
				,C.PROC_DTTM
	        FROM COMM_WORKCALD_DETL C
	      WHERE 1=1
	      	AND C.COM_ID = #{session.comId}
			AND C.BLOC_ID = #{blocId}
			AND C.PLAN_SEQ = #{planSeq}
    </select>
    
    <insert id="savePlanDetl">
    /* comm.calendarMng.savePlanDetl : 일정 등록 */
    	INSERT INTO COMM_WORKCALD_DETL(
	    	COM_ID,
			BLOC_ID,
			PLAN_SEQ,
			STRT_DT,
			STRT_HH,
			STRT_MM,
			END_DT,
			END_HH,
			END_MM,
			PLAN_TITLE,
			PLAN_CNTN,
			PLAN_COLOR,
			REG_USER_NO,
			REG_DTTM,
			PROC_USER_NO,
			PROC_DTTM
		)VALUES(
			#{session.comId},
			#{blocId},
			(SELECT IFNULL(MAX(CAST(PLAN_SEQ AS UNSIGNED INTEGER))+1,1) AS PLAN_SEQ FROM COMM_WORKCALD_DETL A WHERE A.COM_ID = #{session.comId} AND A.BLOC_ID = #{blocId}),
			STR_TO_DATE(#{strtDt}, '%Y-%m-%d 00:00:00'),
			if(length(#{strtHh}) <![CDATA[ < ]]> 2, concat('0', #{strtHh}), #{strtHh}),
			if(length(#{strtMm}) <![CDATA[ < ]]> 2, concat('0', #{strtMm}), #{strtMm}),
			STR_TO_DATE(#{endDt}, '%Y-%m-%d 00:00:00'),
			if(length(#{endMm}) <![CDATA[ < ]]> 2, concat('0', #{endHh}), #{endHh}),
			if(length(#{endMm}) <![CDATA[ < ]]> 2, concat('0', #{endMm}), #{endMm}),
			#{planTitle},
			#{planCntn},
			#{planColor},
			#{session.userNo},
			NOW(),
			#{session.userNo},
			NOW()
		)
    </insert>
    
    <update id="updatePlanDetl">
    /* comm.calendarMng.updatePlanDetl : 일정 수정 */
        UPDATE COMM_WORKCALD_DETL SET
             STRT_DT = STR_TO_DATE(#{strtDt}, '%Y-%m-%d 00:00:00')
			,STRT_HH = if(length(#{strtHh}) <![CDATA[ < ]]> 2, concat('0', #{strtHh}), #{strtHh})
			,STRT_MM = if(length(#{strtMm}) <![CDATA[ < ]]> 2, concat('0', #{strtMm}), #{strtMm})
			,END_DT = STR_TO_DATE(#{endDt}, '%Y-%m-%d 00:00:00')
			,END_HH = if(length(#{endHh}) <![CDATA[ < ]]> 2, concat('0', #{endHh}), #{endHh})
			,END_MM = if(length(#{endMm}) <![CDATA[ < ]]> 2, concat('0', #{endMm}), #{endMm})
			,PLAN_TITLE = #{planTitle}
			,PLAN_CNTN = #{planCntn}
			,PLAN_COLOR = #{planColor}
            ,PROC_USER_NO = #{session.userNo}
            ,PROC_DTTM = NOW()
         WHERE 1=1
           AND COM_ID = #{session.comId}
           AND BLOC_ID = #{blocId}
           AND PLAN_SEQ = #{planSeq}
    </update>
    
    <delete id="deletePlanDetl">
    /* comm.calendarMng.deletePlanDetl : 일정 삭제 */
        DELETE FROM COMM_WORKCALD_DETL
         WHERE 1=1
           AND COM_ID = #{session.comId}
           AND BLOC_ID = #{blocId}
           AND PLAN_SEQ = #{planSeq}
    </delete>
    
    <select id="selectWeekWorkCald" resultType="com.lsitc.domain.base.vo.WorkCaldVo">
    /* comm.calendarMng.selectWeekWorkCald : 2주 일정조 */
   			SELECT COM_ID
	          ,BLOC_ID 
	          ,SCHE_FG
	          ,DT
	          ,SUBSTR(DT, 9,2) AS DAY
	          ,HLDY_FG 
	          ,DOW 
	          ,WEEK_CT 
	          ,HLDY_NM 
	          ,RMRK
	      FROM COMM_WORKCALD
	     WHERE 1=1
	       AND COM_ID = #{session.comId}
	       AND BLOC_ID = #{session.blocId}
	       AND DT BETWEEN ADDDATE( CURDATE(), - WEEKDAY(CURDATE()) + -1 ) AND ADDDATE( CURDATE(), - WEEKDAY(CURDATE()) + 12 )
    </select>
    
    <select id="selectWeekWorkCaldDetl" resultType="com.lsitc.domain.base.vo.WorkCaldVo">
    /* comm.calendarMng.selectWorkCaldDetl : 근무달력 일정 조회 */
			SELECT C.COM_ID
			      ,C.BLOC_ID 
			      ,C.SCHE_FG
			      ,C.DT
			      ,SUBSTR(C.DT, 9,2) AS DAY
			      ,C.HLDY_FG 
			      ,C.DOW 
			      ,C.WEEK_CT 
			      ,C.HLDY_NM 
			      ,C.RMRK
			      ,B.STRT_DT
			      ,B.END_DT
			      ,PLAN_SEQ
			      ,B.PLAN_TITLE
			      ,B.PLAN_COLOR 
	        FROM COMM_WORKCALD C
	        LEFT JOIN COMM_WORKCALD_DETL B ON C.COM_ID = B.COM_ID AND C.BLOC_ID = B.BLOC_ID AND C.DT BETWEEN B.STRT_DT AND B.END_DT
	      WHERE 1=1
	      	AND C.COM_ID = #{session.comId}
			AND C.BLOC_ID = #{session.blocId}
			AND C.DT BETWEEN ADDDATE( CURDATE(), - WEEKDAY(CURDATE()) + -1 ) AND ADDDATE( CURDATE(), - WEEKDAY(CURDATE()) + 12 )
	      ORDER BY C.DT, B.PLAN_SEQ
    </select>
</mapper>