<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="comm.base.comId">
    
    <insert id="insertComId">
    /* comm.comId.insertComId :  등록 */
        INSERT INTO COMM_COM_CD
               (
                COM_ID
               ,COM_NM
               ,COM_ABBRNM
               ,USE_FG
               ,RMRK
               ,REG_USER_NO
               ,REG_DTTM
               ,PROC_USER_NO
               ,PROC_DTTM    
               )
        VALUES (
                #{comId}
               ,#{comNm}
               ,#{comAbbrnm}
               ,#{useFg}
               ,#{rmrk}
               ,#{session.userNo}
               ,NOW()
               ,#{session.userNo}
               ,NOW()
               )
    </insert>

    <update id="updateComId">
    /* comm.comId.updateComId :  수정 */
        UPDATE COMM_COM_CD
           <trim prefix="SET" prefixOverrides=",">
               <if test="comNm != null and comNm != ''">
               ,COM_NM = #{comNm}
               </if>
               <if test="comAbbrnm != null and comAbbrnm != ''">
               ,COM_ABBRNM = #{comAbbrnm}
               </if>
               <if test="useFg != null and useFg != ''">
               ,USE_FG = #{useFg}
               </if>
               <if test="rmrk != null and rmrk != ''">
               ,RMRK = #{rmrk}
               </if>
               <if test="regUserNo != null and regUserNo != ''">
               ,REG_USER_NO = #{session.userNo}
               </if>
               <if test="regDttm != null and regDttm != ''">
               ,REG_DTTM = NOW()
               </if>
               <if test="procUserNo != null and procUserNo != ''">
               ,PROC_USER_NO = #{session.userNo}
               </if>
               <if test="procDttm != null and procDttm != ''">
               ,PROC_DTTM = NOW()
               </if>
           </trim>
         WHERE 1=1
           AND COM_ID = #{comId}
    </update>
    
    <delete id="deleteComId">
    /* comm.comId.deleteComId :  삭제 */
        DELETE
          FROM COMM_COM_CD
         WHERE 1=1
           AND COM_ID = #{comId}
    </delete>
    
    <select id="selectComId" resultType="com.lsitc.domain.base.vo.ComIdVo">
    /* comm.comId.selectComId :  조회 */
        SELECT 
               COM_ID
              ,COM_NM
              ,COM_ABBRNM
              ,USE_FG
              ,RMRK
          FROM COMM_COM_CD
         WHERE 1=1 
           <if test="comId != null and comId != ''">
           AND COM_ID = #{comId}
           </if>
           <if test="comNm != null and comNm != ''">
           AND COM_NM = #{comNm}
           </if>
           <if test="useFg != null and useFg != ''">
           AND USE_FG = #{useFg}
           </if>
    </select>
        
</mapper>