<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="comm.base.commCdMng">
    <!-- 조회 - 공통 코드 그룹 목록 -->
    <select id="selectCommGrpCd" resultType="com.lsitc.global.common.CamelHashMap">
    /* comm.commCdMng.selectCommGrpCd : 조회 - 공통 코드 그룹 목록 */
        SELECT A.COMM_GRP_CD
              ,A.COMM_GRP_NM
              ,A.USE_FG
              ,A.RMRK
              ,A.SYS_DIV
          FROM COMM_GRP_CD A
         WHERE 1=1
         <if test='commGrpCd != null and commGrpCd != ""'>
           AND COMM_GRP_CD LIKE CONCAT('%', #{commGrpCd}, '%')
         </if>
         <if test='commGrpNm != null and commGrpNm != ""'>
           AND COMM_GRP_NM LIKE CONCAT('%', #{commGrpNm}, '%')
         </if>
         <if test='useFg != null and useFg != ""'>
           AND USE_FG = #{useFg}
         </if>
         <if test='sysDivCd != null and sysDivCd != ""'>
           AND A.SYS_DIV = #{sysDivCd}
         </if>
    </select>

    <!-- 등록 - 공통 코드 그룹  -->
    <insert id="insertCommGrpCd">
    /* comm.commCdMng.insertCommGrpCd : 등록 - 공통 코드 그룹 */
        INSERT INTO COMM_GRP_CD (
            COMM_GRP_CD
            , COMM_GRP_NM
            , USE_FG
            , RMRK
            , SYS_DIV
            , REG_USER_NO
            , REG_DTTM
            , PROC_USER_NO
            , PROC_DTTM
        ) VALUES (
            #{commGrpCd}
            , #{commGrpNm}
            , #{useFg}
            , #{rmrk}
            , #{sysDiv}
            , #{session.userNo}
            , NOW()
            , #{session.userNo}
            , NOW()
        )
    </insert>

    <!-- 수정 - 공통 코드 그룹  -->
    <update id="updateCommGrpCd">
    /* comm.commCdMng.updateCommGrpCd : 수정 - 공통 코드 그룹 */
        UPDATE COMM_GRP_CD
        SET 
            COMM_GRP_NM = #{commGrpNm}
            , SYS_DIV = #{sysDiv}
            , USE_FG = #{useFg}
            , RMRK = #{rmrk}
            , PROC_USER_NO = #{session.userNo}
            , PROC_DTTM = NOW()
        WHERE 1=1
        AND COMM_GRP_CD = #{commGrpCd}
    </update>

    <!-- 삭제 - 공통 코드 그룹  -->
    <delete id="deleteCommGrpCd">
    /* comm.commCdMng.deleteCommGrpCd : 삭제 - 공통 코드 그룹 */
        DELETE
        FROM COMM_GRP_CD
        WHERE 1=1
        AND COMM_GRP_CD = #{commGrpCd}
    </delete>

    <select id="selectCommCd" resultType="com.lsitc.fems.comm.base.vo.CommCdVo">
        /* comm.commCdMng.selectCommCd 화면용 공통코드 조회 */
	    SELECT
		   <!-- CD AS CODE, -->
		   <!-- CD_NM AS VALUE, -->
		   COMM_CD,
		   COMM_CD_NM,
		   COMM_GRP_CD,
		   COMM_CD_ABBRNM,
		   USER_DEF_VAL1,
		   USER_DEF_VAL2,
		   USER_DEF_VAL3,
		   USE_FG,
		   SORT_SEQ,
		   RMRK,
		   #{session.comId} AS COM_ID
		FROM
		   COMM_CD
		WHERE
		 COMM_GRP_CD = #{commGrpCd}
		 <if test="useFg!='' and useFg != null">
		 	AND USE_FG = #{useFg}
		 </if>
		 <if test="userDefVal1 != '' and userDefVal1 != null">
		 	AND USER_DEF_VAL1 = #{userDefVal1}
		 </if>
		 <if test="userDefVal2 != '' and userDefVal2 != null">
		 	AND USER_DEF_VAL2 = #{userDefVal2}
		 </if>
		 <if test="userDefVal3 != '' and userDefVal3 != null">
		 	AND USER_DEF_VAL3 = #{userDefVal3}
		 </if>
		<if test = "where != null and where != ''"> ${where} </if> 
		<if test="modeFg == 'T'.toString()">
		 UNION ALL
		 SELECT
		    '' AS COMM_CD,
		    '전체' AS COMM_CD_NM,
		    '' AS COMM_GRP_CD ,
		    -1 AS SORT_SEQ ,
		    #{session.comId} AS COM_ID 
		</if> 
		<if test = "modeFg == 'S'.toString()">
		 UNION ALL
		 SELECT
		    '' AS COMM_CD,
		    '선택' AS COMM_CD_NM,
		    '' AS COMM_GRP_CD ,
		    -1 AS SORT_SEQ ,
		    #{session.comId} AS COM_ID 
		</if> 
		<if test = "modeFg == 'N'.toString()">
		 UNION ALL
		 SELECT
		    '' AS COMM_CD,
		    '전체' AS COMM_CD_NM,
		    '' AS COMM_GRP_CD,
		    -1 AS SORT_SEQ,
		    #{session.comId} AS COM_ID 
		</if> 
		<if test = "orderBy != null and orderBy != ''" > ${orderBy} </if>
		<if test = "orderBy == null or orderBy == ''" >
		ORDER BY
		  SORT_SEQ
		</if>
    </select>

    <!-- 등록 - 공통 코드  -->
    <insert id="insertCommCd">
    /* comm.commCdMng.insertCommCd : 등록 - 공통 코드 */
        INSERT INTO COMM_CD (
            COMM_GRP_CD
            , COMM_CD
            , COMM_CD_NM
            , COMM_CD_ABBRNM
            , USER_DEF_VAL1
            , USER_DEF_VAL2
            , USER_DEF_VAL3
            , USE_FG
            , SORT_SEQ
            , RMRK
            , REG_USER_NO
            , REG_DTTM
            , PROC_USER_NO
            , PROC_DTTM
        ) VALUES (
              #{commGrpCd}
            , #{commCd}
            , #{commCdNm}
            , #{commCdAbbrnm}
            , #{userDefVal1}
            , #{userDefVal2}
            , #{userDefVal3}
            , #{useFg}
            , #{sortSeq}
            , #{rmrk}
            , #{session.userNo}
            , NOW()
            , #{session.userNo}
            , NOW()
        )
    </insert>

    <!-- 수정 - 공통 코드 -->
    <update id="updateCommCd">
    /* comm.commCdMng.updateCommCd : 수정 - 공통 코드 */
        UPDATE COMM_CD
        SET 
            COMM_GRP_CD = #{commGrpCd}
            , COMM_CD = #{commCd}
            , COMM_CD_NM = #{commCdNm}
            , COMM_CD_ABBRNM = #{commCdAbbrnm}
            , USER_DEF_VAL1 = #{userDefVal1}
            , USER_DEF_VAL2 = #{userDefVal2}
            , USER_DEF_VAL3 = #{userDefVal3}
            , USE_FG = #{useFg}
            , SORT_SEQ = #{sortSeq}
            , RMRK = #{rmrk}
            , PROC_USER_NO = #{session.userNo}
            , PROC_DTTM = NOW()
        WHERE 1=1
        AND COMM_GRP_CD = #{commGrpCd}
        AND COMM_CD = #{commCd}
    </update>

    <!-- 삭제 - 공통 코드 -->
    <delete id="deleteCommCd">
    /* comm.commCdMng.deleteCommCd : 삭제 - 공통 코드 */
        DELETE FROM COMM_CD
        WHERE 1=1
        AND COMM_GRP_CD = #{commGrpCd}
        AND COMM_CD = #{commCd}
    </delete>    
</mapper>