<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="comm.base.noticeMng">
    <select id ="selectPost" resultType="com.lsitc.global.common.CamelHashMap">
    /* comm.noticeMng.selectPost : 게시물 조회 */
    	SELECT  B.COM_ID, B.BORD_NO, P.POST_NO, P.POST_ORG_NO, P.POST_GRP_ORD, P.POST_GRP_LAYER, 
    				P.POST_TITL,  P.POST_TITL AS TITLE, P.POST_CNTN,
		    		P.NOTI_YN, P.RPLY_POSS_YN, P.STRT_DTTM, P.END_DTTM, P.APND_FILE_UUID, P.VIEW_CNT,
					P.REG_USER_NO, P.REG_DTTM
		FROM comm_bord B
		INNER JOIN
		comm_post P
		ON B.COM_ID = P.COM_ID
		AND B.BORD_NO = P.BORD_NO
	     WHERE  B.COM_ID = #{session.comId}
		AND B.USE_FG = '1'
		AND B.BORD_NO = #{bordNo}
		AND P.POST_NO = #{postNo}
    </select>
</mapper>