<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="comm.base.SystemLogRead">
    <select id="selectLoginLog" resultType="CamelHashMap">
    /* comm.SystemLogRead.selectLoginLog : 로그인로그 조회 */
        SELECT A.REG_USER_NO AS USER_NO
             , B.USER_NM
             , A.REG_DTTM AS LOGIN_DTTM
             , C.USER_LOGIN_ID
          FROM COMM_LOGIN_LOG A
         INNER JOIN COMM_USER B ON A.COM_ID=B.COM_ID AND A.REG_USER_NO = B.USER_NO
         INNER JOIN COMM_LOGIN_INFO C ON A.REG_USER_NO = C.USER_NO
         WHERE 1=1
           AND A.COM_ID = #{session.comId}
           <if test="userList != null and userList != ''">
           AND A.REG_USER_NO IN
	           <foreach item="eachRow" open="(" separator="," close=")" collection="userList">
	           		#{eachRow}
	           </foreach>
           </if>
           <if test="frDttm != null">
           AND A.REG_DTTM <![CDATA[>=]]> #{frDttm}
           </if> 
           <if test="endDttm != null">
           AND A.REG_DTTM <![CDATA[<=]]> #{endDttm}
           </if> 
         ORDER
            BY  A.REG_DTTM DESC
    </select>
    <select id="selectMenuCnctLog" resultType="CamelHashMap">
    /* comm.SystemLogRead.selectMenuCnctLog : 메뉴접근로그 조회 */
        SELECT A.REG_USER_NO AS USER_NO
             , B.USER_NM
             , C.MENU_NM
             , A.REG_DTTM AS MENU_CNCT_DTTM
             , D.USER_LOGIN_ID
          FROM COMM_MENU_CNCT_LOG A
         INNER JOIN COMM_USER B ON A.COM_ID =B.COM_ID  and A.REG_USER_NO = B.USER_NO
         INNER JOIN COMM_MENU C ON A.COM_ID =C.COM_ID  and A.MENU_ID = C.MENU_ID
         INNER JOIN COMM_LOGIN_INFO D ON A.REG_USER_NO = D.USER_NO
         WHERE 1=1
           AND A.COM_ID = #{session.comId}
           <if test="userList != null and userList != ''">
           AND A.REG_USER_NO IN
	           <foreach item="eachRow" open="(" separator="," close=")" collection="userList">
	           		#{eachRow}
	           </foreach>
           </if>
           <if test="menuId != null and menuId != ''">
           AND C.MENU_ID = #{menuId}
           </if>
           <if test="frDttm != null">
           AND A.REG_DTTM <![CDATA[>=]]> #{frDttm}
           </if> 
           <if test="endDttm != null">
           AND A.REG_DTTM <![CDATA[<=]]> #{endDttm}
           </if>  
           <if test="menuList != null and menuList != ''">
           AND A.MENU_ID IN
	           <foreach open="(" item="eachRow" separator="," close=")" collection="menuList">
	           #{eachRow}
	           </foreach>
           </if>
         ORDER
            BY  A.REG_DTTM DESC
    </select>
    
    <insert id="insertLoginLog">
    /* comm.SystemLogRead.insertLoginLog : 로그인로그 등록 */
        INSERT INTO COMM_LOGIN_LOG
               (
                LOG_ID
               ,COM_ID
               ,REG_USER_NO
               ,REG_DTTM
               ,PROC_USER_NO
               ,PROC_DTTM
               )
        VALUES (
                #{logId}
               ,#{comId}
               ,#{userNo}
               ,NOW()
               ,#{userNo}
               ,NOW()
               )
    </insert>
    
    <insert id="insertMenuCnctLog">
    /* comm.SystemLogRead.insertMenuCnctLog : 메뉴접근로그 등록 */
        INSERT INTO COMM_MENU_CNCT_LOG
               (
                LOG_ID
               ,MENU_ID
               ,COM_ID
               ,REG_USER_NO
               ,REG_DTTM
               ,PROC_USER_NO
               ,PROC_DTTM
               )
        VALUES (
                #{logId}
               ,#{menuId}
               ,#{session.comId}
               ,#{session.userNo}
               ,NOW()
               ,#{session.userNo}
               ,NOW()
               )
    </insert>
</mapper>