<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="comm.base.user">

    <insert id="insertUser">
    /* comm.user.insertUser : 사용자 등록 */
        INSERT INTO COMM_USER
               (
                COM_ID
               ,DEPT_ID
               ,BLOC_ID
               ,USER_NO
               ,USER_NM
               ,EMAIL
               ,MOBLPHON
               ,OFFICE_TELNO
               ,FAX_TELNO
               ,POST_NO
               ,POST_ADRES
               ,ADRES_DETAIL
               ,REG_USER_NO
               ,REG_DTTM
               ,PROC_USER_NO
               ,PROC_DTTM    
               )
        VALUES (
                #{session.comId}
               ,#{deptId}
               ,#{blocId}
               ,#{userNo}
               ,#{userNm}
               ,#{email}
               ,#{moblphon}
               ,#{officeTelno}
               ,#{faxTelno}
               ,#{postNo}
               ,#{postAdres}
               ,#{adresDetail}
               ,#{session.userNo}
               ,NOW()
               ,#{session.userNo}
               ,NOW()    
               )
    </insert>

    <update id="updateUser">
    /* comm.user.updateUser : 사용자 수정 */
        UPDATE COMM_USER
           <trim prefix="SET" prefixOverrides=",">
               <if test="blocId != null and blocId != ''">
               ,BLOC_ID = #{blocId}
               </if>
               <if test="userNm != null and userNm != ''">
               ,USER_NM = #{userNm}
               </if>
               <if test="email != null and email != ''">
               ,EMAIL = #{email}
               </if>
               <if test="moblphon != null and moblphon != ''">
               ,MOBLPHON = #{moblphon}
               </if>
               <if test="officeTelno != null and officeTelno != ''">
               ,OFFICE_TELNO = #{officeTelno}
               </if>
               <if test="faxTelno != null and faxTelno != ''">
               ,FAX_TELNO = #{faxTelno}
               </if>
               <if test="postNo != null and postNo != ''">
               ,POST_NO = #{postNo}
               </if>
               <if test="postAdres != null and postAdres != ''">
               ,POST_ADRES = #{postAdres}
               </if>
               <if test="adresDetail != null and adresDetail != ''">
               ,ADRES_DETAIL = #{adresDetail}
               </if>
               ,PROC_USER_NO = #{session.userNo}
               ,PROC_DTTM = NOW()
           </trim>
         WHERE 1=1
           AND COM_ID = #{session.comId} 
           AND DEPT_ID = #{deptId} 
           AND USER_NO = #{userNo} 
    </update>
    
    <delete id="deleteUser">
    /* comm.user.deleteUser : 사용자 삭제 */
        DELETE
          FROM COMM_USER
         WHERE 1=1
           AND COM_ID = #{session.comId} 
           AND DEPT_ID = #{deptId} 
           AND USER_NO = #{userNo} 
    </delete>
    
    <select id="selectUserPop" resultType="camelHashMap">
    /* comm.user.selectUserPop : [팝업]사용자 조회 */
        SELECT A.COM_ID
              ,A.DEPT_ID
              ,C.DEPT_NM
              ,A.USER_NO
              ,A.USER_NM
              ,A.EMAIL
              ,A.MOBLPHON
              ,A.OFFICE_TELNO
              ,B.USER_LOGIN_ID
          FROM COMM_USER A
         INNER JOIN COMM_LOGIN_INFO B ON A.USER_NO = B.USER_NO
         INNER JOIN COMM_DEPT_CD C ON A.DEPT_ID = C.DEPT_ID
         WHERE 1=1 
           AND A.COM_ID = #{session.comId}
           <if test="deptCd != null and deptCd != ''">
           AND A.DEPT_ID = #{deptId}
           </if>
           <if test="userNo != null and userNo != ''">
           AND A.USER_NO LIKE CONCAT('%', #{userNo}, '%')
           </if>
           <if test="userNm != null and userNm != ''">
           AND A.USER_NM LIKE CONCAT('%', #{userNm}, '%')
           </if>
           <if test="userLoginId != null and userLoginId != ''">
           AND B.USER_LOGIN_ID LIKE CONCAT('%', #{userLoginId}, '%')
           </if>
    </select>
</mapper>